<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.rocketmq.eventbridge.adapter.persistence.source.mybatis.mapper.EventSourceRunnerMapper">

    <sql id="TABLE_NAME">
        event_source_runner
    </sql>

    <sql id="COLUMN_LIST">
        account_id,bus,source,run_context,gmt_create,gmt_modify
    </sql>
    <resultMap id="resultMap"
               type="org.apache.rocketmq.eventbridge.adapter.persistence.source.mybatis.dataobject.EventSourceRunnerDO">
        <result property="accountId" column="account_id"/>
        <result property="bus" column="bus"/>
        <result property="source" column="source"/>
        <result property="runContext" column="run_context"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModify" column="gmt_modify"/>
    </resultMap>


    <insert id="createEventSourceRunner" parameterType="java.util.Map">
        INSERT INTO
        <include refid="TABLE_NAME"/>
        (
        <include refid="COLUMN_LIST"/>
        )
        VALUES
        (#{accountId},#{eventBusName},#{eventSourceName},#{runContext},now(),now())
    </insert>

    <select id="getEventSourceRunner" parameterType="java.util.Map" resultMap="resultMap">
        SELECT
        <include refid="COLUMN_LIST"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE account_id = #{accountId}
        AND bus = #{eventBusName}
        AND source = #{eventSourceName}
    </select>


    <delete id="deleteEventSourceRunner">
        DELETE FROM
        <include refid="TABLE_NAME"/>
        WHERE account_id = #{accountId}
        AND bus = #{eventBusName}
        AND source = #{eventSourceName}
    </delete>

    <update id="updateEventSourceRunner">
        UPDATE
        <include refid="TABLE_NAME"/>
        <set>
            gmt_modify = now()
            <if test="runContext != null">
                ,run_context= #{runContext}
            </if>
        </set>
        WHERE account_id = #{accountId}
        AND bus = #{eventBusName}
        AND source = #{eventSourceName}
    </update>

</mapper>